.card-image {
  position: fixed;
  width: 110px;
  border-radius: 8px;
  border: 2px solid #00000047;
  box-shadow: 0 4px 6px rgb(0, 0, 0);
  user-select: none;

  /* Transición suave */
  transition: box-shadow 0.2s ease, filter 0.2s ease;
}

/* Hover: efecto "se levanta" */
.card-image:hover {
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.45);
  filter: brightness(1.1);
}
