/* App.css */

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
  /* Fondo verde tipo mesa de truco */
  background-color: #00000000; 
  color: rgb(251, 251, 251);
  font-family: sans-serif;
}

button {
  padding: 12px 24px;
  font-size: 15px;
  cursor: pointer;
  background-color: #ff0000; /* Color dorado */
  border: none;
  border-radius: 10px;
  font-weight: bold;
  transition: background 0.3s;
}

button:hover {
  background-color: #0dff00;
}

.image {
  margin-top: 30px;
  width: 100px;
  /* Sombra más marcada para dar profundidad */
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  border-radius: 12px;
  border: 5px solid white; /* Borde blanco como las cartas reales */

  animation: fadeZoom 0.4s ease-out;
}

@keyframes fadeZoom {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}